.color-purple{
  color:#4c5fd5;
}
.bgccolor-purple{
  background-color: #4c5fd5;
}

.color-lightpurple{
  color:#dadbf1;
}
.bgccolor-lightpurple{
  background-color:#dadbf1;
}

.color-black{
  color:#000000;
}
.bgccolor-black{
  background-color: #000000;
}

